.hero-background {
  width: 100%;
  height: 400px;
  position: relative;
}
.lower-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background-image: url("../../Assets/Image/AdobeStock_302399784.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  padding: 100px 0 50px 0;
  max-width: 600px;
  position: absolute;
  z-index: 1;
  margin-left: 50px;
}

.header h1 span {
  font-size: 35px;
  color: white;
  font-weight: bold;
}

.formInput {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  background-color: white;
  border-radius: 10px;
}
.searchInput {
  font-size: 16px;
  line-height: 50px;
  border: none !important;
  outline: none;
  width: 70%;
  padding-left: 20px;
  height: 52px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.buttonBackspace {
  width: 10%;
  margin-right: 100px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 24px;
  line-height: 50px;
  height: 52px;
}
.buttonBackspace:focus {
  outline: none;
}
.buttonInput {
  font-size: 24px;
  border: none;
  outline: none;
  position: absolute;
  right: 0;
  text-align: center;
  border-radius: 0 !important;
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
  height: 52px;
  padding-left: 20px;
  background: #144d7e;
}

.search-bar-panel {
  width: 600px;
  background: white;
  height: auto;
  border-radius: 10px;
  padding: 0 20px;
  margin-top: 5px;
  overflow: hidden;
  overflow-y: auto;
  list-style: none;
}
.search-bar-panel-active {
  width: 600px;
  background: white;
  height: 180px;
  border-radius: 10px;
  padding: 0 20px;
  margin-top: 5px;
  overflow: hidden;
  overflow-y: auto;
  list-style: none;
  position: absolute;
  z-index: 10;
}

.search-bar-panel::-webkit-scrollbar {
  display: none;
}
.search-bar-panel-active::-webkit-scrollbar {
  display: none;
}
.aStyleSearchbar {
  color: black !important;
  font-size: 16px;
}

.liStyleSearchbar {
  padding: 20px 0 20px 20px;
}
.liStyleSearchbar:hover {
  background-color: lightslategrey !important;
}

.formInput i {
  font-size: 20px;
  margin-left: -30px;
  line-height: 50px;
}

.popular {
  position: absolute;
  z-index: 1;
  display: flex;
  font-size: 14px;
  line-height: 27px;
  font-weight: 600;
  color: #fff;
  padding-top: 24px;
  flex-direction: row;
  align-items: center;
}

.popular ul {
  list-style: none;
}

.popular ul li {
  display: inline-block;
  padding: 10px;
}
.popular ul li a {
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 10px;
  background: #144d7e;
}

.trusted-hero {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.trusted-hero p {
  padding-right: 20px;
  color: #b5b6ba;
  font-weight: 600;
}
.trusted-hero ul {
  list-style: none;
}

.trusted-hero ul li {
  display: inline-block;
  padding: 0 30px;
}
.subcategory {
  padding: 10px 50px;
}
.title-Subcategory {
  font-size: 30px;
  font-weight: bolder;
}
.swiper-button-next,
.swiper-button-prev {
  color: green !important;
  background-color: lightgreen !important;
  padding: 30px !important;
  border-radius: 50% !important;
}

.subImg:hover {
  box-shadow: rgba(20, 190, 62, 0.16) 0px 1px 4px,
    rgb(28, 197, 79) 0px 0px 0px 3px;
}

.sellingProposition {
  padding: 0 50px;
  margin-top: 10px;
}
.sellingPropositionTitle {
  font-weight: bolder;
  font-size: 30px;
}
.sellingProposition ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.span-Content {
  font-size: 14px;
  font-weight: bolder;
}
.p-Content {
  color: #62646a;
  font-size: 16px;
}
.videoIntro {
  width: 100%;
  height: 100%;
}
.mainCategories-Title {
  font-weight: bolder;
  font-size: 30px;
}
.mainCategories {
  padding: 50px 50px 0 50px;
}
.mainCategories ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.mainCategories li {
  display: inline-block;
  text-align: center;
  width: 15%;
  margin-right: 10px;
}
.mainCategories li a {
  color: black;
  position: relative;
}
.mainCategories li a p {
  font-size: 15px !important;
}
/* .mainCategories li a::after {
  content: "";
  position: absolute;
  top: 28px;
  right: 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  padding: 0 0 8px;
  width: 50px;
  border-bottom: 2px solid #c5c6c9;
}
.mainCategories li a:hover::after {
  content: "";
  position: absolute;
  top: 28px;
  right: 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  padding: 0 0 8px;
  width: 100px;
  border-bottom: 2px solid #37b94d;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
} */
.mainCategories li a p {
  font-size: 16px;
}
.mainCategories img {
  width: 48px;
  height: 48px;
  margin-bottom: 30px;
}
