.liLoaiCongViec {
  margin-bottom: 17px;
  color: #7a7d85;
  font-weight: 500;
  font-size: 12px;
}
.liLoaiCongViec a {
  color: #7a7d85 !important;
  font-weight: 500;
}
.liLoaiCongViec a:hover {
  color: rgb(59, 206, 59) !important;
}
