.typeJob .subTypeJob {
  display: none;
}
.typeJob:hover .subTypeJob {
  display: grid;
  position: absolute;
  z-index: 999;
  background-color: white;
  width: fit-content;
  grid-template-columns: 200px 200px 200px;
  border: 2px solid grey;
  left: 0;
  padding: 10px 0;
}
.typeJob:hover .subTypeJobIf {
  display: grid;
  position: absolute;
  z-index: 999;
  background-color: white;
  width: fit-content;
  grid-template-columns: 200px 200px 200px;
  border: 2px solid grey;
  right: 0;
  padding: 10px 0;
}

.subTypeJobIf {
  display: none;
}

.typeJob {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.typeJob a {
  color: #62646a;
}

.typeJob a:hover {
  color: #28a745;
}

.PageNumber {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

.PageNumber li {
  margin: 0 10px 10px 0;
  padding: 10px;
  font-weight: 500;
  background-color: #009688;
  cursor: pointer;
  width: 40px;
  text-align: center;
}

.PageNumber li.active {
  background-color: black;
  color: white;
  font-weight: bolder;
}
.PageNumber button {
  text-align: center;
  margin: 0 10px 10px 0;
  font-weight: 500;
  border: 1px solid black;
  background-color: transparent;
  width: 50px;
}

.PageNumber button:hover {
  font-weight: bolder;
}
.PageNumber button:disabled {
  visibility: hidden;
}
.sortButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sortButton button {
  margin-right: 20px;
  width: 90px;
}
